[[source]]
verify_ssl = true
url = "https://pypi.python.org/simple"
name = "pypi"

[dev-packages]
docker-compose = "*"
freezegun = "*"
ipython = "*"
paramiko = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-flakes = "*"
pytest-xdist = "*"
recommonmark = "*"
Sphinx = "*"
sphinx_rtd_theme = "*"
tavern = ">=0.8.2"
tox = "*"
astroid = "*"
isort = "*"
lazy-object-proxy = "*"
mccabe = "*"
pylint = "*"
wrapt = "*"
"bump2version" = "*"
mockredispy = "*"

[packages]
colorlog = "*"
factory_boy = "*"
"903b0bd" = {path = "./apps/zconnect-django", editable = true}
sparkpost = "*"
semver = "*"
google-auth = "*"
google-cloud-storage = "*"
django-activity-stream = {git = "https://github.com/justquick/django-activity-stream.git", ref = "a6d359de540f3b531f1ea46f12b91f4b48bc7d7f"}
django-storages = "*"
django-filter = "*"
django-guardian = "*"
django-rest-framework-rules = "*"
djangorestframework = "*"
django-rest-auth = "*"
pyparsing = "*"
python-dateutil = "*"
celery = "*"
gevent = "*"
redis = "*"
ibmiotf = {git = "https://github.com/ZoetropeLabs/iot-python.git", ref = "c868f770efb5f2d8c25bf6ee9a55ce38b2f94f06"}
timezonefinder = "*"
django-filters = "*"
django-organizations = "*"
django-extensions = "*"
"psycopg2-binary" = "*"
drf-extensions = {git = "https://github.com/chibisov/drf-extensions", editable = true}
drf-writable-nested = "*"
cached-property = "*"
rules = "*"
django-cors-headers = "*"
django-jsonfield = "*"
django-jsonfield-compat = "*"
cryptography = "*"
pytest = "*"
tavern = ">=0.8.2"
Pillow = "*"
Django = ">=2,<2.1"
Flask = "*"
Flask-Cors = "*"
PyYAML = "*"
uWSGI = "*"
"oauth2client" = "*"
djangorestframework-simplejwt = {git = "https://github.com/bitdivision/django-rest-framework-simplejwt.git", editable = true, ref = "fix/sliding-token-refresh-expiration-check"}
"7191cf5" = {path = "./apps/zconnect-django", editable = true}
django_db_geventpool = "*"
mockredispy = "*"
django-sendsms = "*"
django-db-file-storage = "*"

[requires]
python_version = "3"
